.ps-sidebar-root {
    
    color: #fff;
    height: 100vh;
    .ps-sidebar-container{
        background-color: black;
        display: flex;
        flex-direction: column;
        gap: 4rem;
   
        button{
            margin-top: 1rem;
            border: none;
            background-color: black;
            border-radius: 5px;
            color: #fff;
            
        }

    }
    .ps-menu-item-root {
        font-size: .5rem;
        &.active{
            border-left: 2px solid white;

        }
        .icon {
            color: #f0f0f0;
        }
    
    }
    

  }
  
  